@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/Helvetica.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: HelveticaNeue;
}